---
interfaces:
  - name: {{ backdoor_interface }}
    type: ethernet
    description: backdoor-interface
    state: up
    ipv4:
      enabled: true
      dhcp: true
      auto-dns: false
      auto-gateway: false
    ipv6:
      enabled: false
  - name: {{ primary_interface }}
    type: ethernet
    description: primare-interface
    state: up
    ipv4:
      enabled: false
    ipv6:
      enabled: true
      auto-dns: true
      auto-gateway: true
      auto-route-table-id: 0
      auto-routes: true
      autoconf: true
      dhcp: true
  - name: {{ secondary_interface }}
    type: ethernet
    description: secondary-interface
    state: absent
